<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98874648516-0t1898tdj3ugbc7pkp6sbrfdpd28mj78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98874648516-0t1898tdj3ugbc7pkp6sbrfdpd28mj78</string>
	<key>API_KEY</key>
	<string>AIzaSyBvnvUDTC-1wqK2ZuI1dDs3-nbBf5hGJ0I</string>
	<key>GCM_SENDER_ID</key>
	<string>98874648516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kreditplus.deasy.ios</string>
	<key>PROJECT_ID</key>
	<string>deasy-production</string>
	<key>STORAGE_BUCKET</key>
	<string>deasy-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98874648516:ios:a1f435603427a2ef402691</string>
</dict>
</plist>